.heroSection {
  position: relative;
  height: 75vh;
  overflow: hidden;
  z-index: 10;
}

.heroSlider {
  width: 100%;
  height: 100%;
}

.heroImage {
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

.slide {
  position: relative;
}
.formContainer {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  background: white;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Form Header with Gradient Background */
.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(to right, #005AA7, #292928);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  height: 20px;
}

/* Close (X) Button */
.closeButton {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.closeButton:hover {
  transform: scale(1.2);
}

/* Form Fields */
.contactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.contactForm input,
.contactForm textarea {
  width: 91%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background: #fff;
  color: #333;
}

.contactForm textarea {
  resize: none;
  height: 80px;
}

/* Submit Button */
.submitButton {
  background: #D8232A;
  color: white;
  padding: 12px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
}

.submitButton:hover {
  background: #D8232A;
  transform: translateY(-3px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .formContainer {
    width: 90%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}
.textContainer {
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: 10;
  color: #fff;
  max-width: 1000px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity for readability */
  padding: 20px;
  border-radius: 10px;
}

.slideTitle, .slideSubtitle, .slideDescription {
  margin: 0;
}
.slideTitle{
  font-size: 3rem;
}
.slideSubtitle{
  font-size: 2rem;
}
.slideDescription{
  font-size: 1.5rem;
}
.hero-button {
  margin-top: 15px;
  background-color: #D8232A;
  color: #fff;
  border: none;
  padding: 12px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.hero-button:hover {
  background-color: #c7891e;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .slideTitle{
    font-size: 2rem;
  }
  .slideSubtitle {
    font-size: 1.5rem;
  }

  .slideDescription {
    font-size: 1rem;
  }

  .hero-button {
    padding: 10px 25px;
    font-size: 1rem;
  }
}

@media (max-width: 540px) {
  .slideSubtitle {
    font-size: 1.5rem;
  }

  .slideDescription {
    font-size: 0.9rem;
  }

  .hero-button {
    padding: 8px 20px;
    font-size: 0.9rem;
  }
}
