@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

.navbar {
  background-color: #F7DCB9;
  opacity: 50;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 4px solid #D8232A;
  height: 70px;
  position: relative;
  z-index: 1000;
}

.navbar-brand {
  margin-left: 20px;
}

.navbar-brand .navbar-logo {
  height: 70px;
  width: auto;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1001;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 4px 0;
  transition: transform 0.3s ease;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  z-index: 1000;
  margin-top: 12px;
}

.nav-item {
  padding: 10px;
  position: relative;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  transition: color 0.3s ease;
  font-weight: 600;
  font-style: normal;
}

.nav-link:hover {
  color: #B5C18E;
}

.nav-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 0;
  height: 35%;
  width: 2px;
  background-color: #914F1E;
}

button {
  padding: 15px 30px;
  background-color: #D8232A;
  border: 1px solid #D8232A;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

button:hover {
  background-color: transparent;
  color: #000000;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 65px;
    right: 0;
    background-color: #F7DCB9;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .navbar-brand .navbar-logo {
    height: 58px;
    width: auto;
  }

  .navbar-nav.open {
    display: flex;
    transform: translateX(0);
  }

  .nav-link {
    text-align: center;
    padding: 1rem;
    display: block;
  }

  nav button {
    display: none;
  }

  .nav-item:not(:last-child)::after {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }
}

.hero-section {
  position: relative;
  z-index: 1;
}
@media (max-width: 500px) {
  .navbar-brand .navbar-logo {
    height: 40px;
    width: auto;
  }
}