@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Montserrat", serif;
  /* background: linear-gradient(to bottom right, #242424, #f0f2f5);  */
  color: #ffffff;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle, transparent, rgba(255, 255, 255, 0.982));
  z-index: -1;
}
button{
  font-family: "Montserrat", serif;
  background-color: #D8232A;
}

/* Title styling */
h1, h2, h3, h4, h5, h6 {
  color:#914F1E;
  font-family: "Montserrat", serif;
}

